
    $background: white;
    $text-color: #010615;
    $primary-color: #00DBCD;
    $secondary-color: #0c1633;
    $border-radius: 10px;
    $light-text: rgb(238, 237, 237); 
    $orange: #C26522;
  
[data-theme = "dark"] {
    $background:#010615;
    $text-color: white;
   
}
::-webkit-scrollbar {
    background-color: $orange;
    width: 0.4rem;
      @media screen and (min-width: 280px) and (max-width: 1000px) {
        padding: 0;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
}
