.home {
  height: auto;
  width: auto;
  padding-top: 5rem;
  .main-container {
    display: flex;
    height: 100vh;
    background-color: $background;
    .container-home {
      height: auto;
      width: 60vw;
      flex-direction: column;
      justify-content: center;
      padding: 5rem 4rem;
      h1 {
        @include text-style(8rem, 800, 1.2em, $text-color);
      }
      h2 {
        @include text-style(2rem, 700, 1em, $primary-color);
        letter-spacing: 6px;
      }
      p {
        @include text-style(1.5rem, 400, 1.6em, $text-color);
        width: 50vw;
        padding: 1rem 1rem 0 1rem;
      }

      button {
        margin: 2rem 1rem;
        @include button-style(
          none,
          1px solid $orange,
          3rem,
          14rem,
          none,
          $orange,
        );
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
          @include button-style(
            none,
            1px solid $primary-color,
            3rem,
            14rem,
            none,
            $primary-color
          );
          font-size: 1.2rem;

        }
        a {
          color: $text-color;
        }
      }
    }

    .image-principal-container {
      height: auto;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 90%;
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 745px) {
  .home {
    width: auto;
    .main-container {
      .container-home {
        position: absolute;
        width: 100%;
        padding: 2rem;  
      
        h1 {
          @include text-style(4rem, 600, 1.2em, $text-color);
        }
        h2 {
          @include text-style(1.4rem, 500, 1em, $primary-color);
          letter-spacing: 3px;
        }
        p {
          @include text-style(1rem, 300, 1.6em, $text-color);
          width: 90vw;
          padding: 2rem 1rem 0 1rem;
        }
      }
      .image-principal-container {
        height: 90vh;
        width: 100%;
        display: flex;
        justify-content: end;
        align-items:end;
        left: 4rem;
        img {
        zoom: 0.9; 

        }
      }
    }
  }
}
