.home {
    background: $base-color;
    height: 100vh;
    
    .main-container{
        display: flex;

        .container-home{
            height: auto;
            width: 70vw;
            flex-direction: column;
            justify-content: center;
            padding: 5em 2.5em;
        
          
               h1{
                    @include text-style(6rem, 800, 1.2em, $primary-color);
                    text-shadow: 4px 2px 2px rgb(3, 20, 85);
                    
                }
                h2{
                    @include text-style(1.75rem, 300, 1em, $text-color);
                    letter-spacing: 6px;
                }
                p{
                    @include text-style(1.4rem, 200, 1.3em, $text-color);
                    width: 50vw;
                    padding: 1rem;
                    
                }
        
                button{
                    margin: 1em;
                    @include button-style(none, 1px solid white,  2.5rem, 10rem, none, #00DBCD);
                    cursor: pointer;
        
                    a{
                        color: $primary-color;
                    }
              
                }
                
            }
      
            .image-principal-container{
                width: 100%;
                margin-top: 4rem;
                .svg{
                    zoom: 1;
                }
            }
    }

}
