.home {
    height: 100%;
   

    .main-container{
        display: flex;
        height: 100vh;
        background-color: white;


        .container-home{
            height: auto;
            width: 60vw;
            flex-direction: column;
            justify-content: center;
            padding: 5em 2.5em;

               h1{
                    @include text-style(8rem, 800, 1.2em, $base-color);
                    
                    
                }
                h2{
                    @include text-style(2rem, 700, 1em, $primary-color);
                    letter-spacing: 6px;
                }
                p{
                    @include text-style(1.4rem, 300, 1.6em, $base-color);
                    width: 50vw;
                    padding: 2rem 1rem 0 1rem;
                    
                }
        
                button{
                    margin: 2rem 1rem;
                    @include button-style(none, 1px solid $base-color,  3rem, 10rem, none, $base-color);
                    cursor: pointer;
                    &:hover{
                        @include button-style(none, 1px solid $primary-color, 3rem, 10rem, none, $primary-color);

                    }
                    a{
                        color: $text-color;
                    }
              
                }
                
            }
      
            .image-principal-container{
                height: auto;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;

                .image{
                    width: 80%;
                }    
                    
                    
            }
    }

}
