.beneficts {
  width: 100%;
  margin: 10rem 0;
  display: grid;
  place-items: center;
  padding: 10rem 0 0 0;
  background-color: $secondary-color;
  border-radius: $border-radius;
  h2 {
    text-align: center;
    @include text-style(2.3rem, 500, 2.8rem, $light-text);
    width: 70%;
    margin: 0 auto;
  }
  .beneficts-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
    align-items: center;

    .itens-container {
      width: 40vw;
      height: 40vh;
      display: flex;
      .image-beneficts {
        width: 14vw;
        height: 14vh;
        padding: 0 1rem;
      }
      span {
        h1 {
          @include text-style(1.5rem, 600, 2.5rem, $light-text);
        }
        p {
          @include text-style(1.2rem, 300, 1.7rem, $light-text);
        }
      }
    }
  }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .beneficts {
    width: auto;
    h2 {
      @include text-style(1.6rem, 500, 2rem, $light-text);
      width: 100%;
      padding: 1rem;
    }
    .beneficts-container {
      width: 100%;
      display: block;
      padding: 1rem;
      .itens-container {
        width: 100%;
        .image-beneficts {
          width: auto;
          height: 40%;
          padding-left: 0.3rem;
        }
        .description {
          h1 {
            @include text-style(1.5rem, 500, 2.4rem, $light-text);
          }
          p {
            @include text-style(1rem, 400, 1.8rem, $light-text);
          }
        }
      }
    }
  }
}
