.navbar{
        display: flex;
        justify-content: space-between;
        height: 15vh;
        width: 100%;
      
        
        .image-container{
            img{
                
                zoom: 0.7;
            }
        }

        .links-container{
            display: flex;
            list-style: none;
            width: auto;
            justify-content: center;
            align-self: center;
            align-items: center;
            padding-top: 2rem;

             .links{
                margin: 1em 3em;
                @include text-style(1em, 500, 1em, white);
                padding-bottom: 0.75em;
                border: 2px solid transparent;
    
            
           
            }
            .links:hover{
                
                border-bottom: 1px solid $primary-color;
            }
            
          
    }
    .button-especialista{
        display: flex;
        
        align-items: center;
        button{
            @include button-style(none, none, 1rem, 100%, $base-color, $text-color);
            cursor: pointer;
            padding: 1rem;
            margin: 2rem 1rem;
        }
    }
}



