.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $background;
  box-shadow: 0 3px 5px gray;
  position: fixed;
  z-index: 999;
  width: 100%;
  .brand {
    img {
      zoom: 0.9;
    }
  }

  .toggle {
    display: none;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    .links-container {
      display: flex;
      list-style: none;
      justify-content: center;

      li {
        margin: 1rem;
        @include text-style(1.15rem, 500, 1em, $text-color);
        

        &:hover {
          color: $primary-color;
        }
        span{
          align-items: center;
          padding: 10px;
        }
       .icon-link{
        display: none;
       }
       
      }
    }
  }
  .button-especialista {
    display: flex;
    button {
      @include button-style(
        none,
        1px solid transparent,
        1.3rem,
        100%,
        $secondary-color,
        $light-text
      );
      cursor: pointer;
      padding: 1rem;
      font-size: 1.1rem;
      &:hover{
        @include button-style(
          none,
          1px solid $primary-color,
          1.3rem,
          100%,
          transparent,
          $secondary-color
        );
      }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .navbar,
  nav {
    justify-content: space-between;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 40;
    align-items: center;

    .brand{
      img{
       zoom: 0.7;
       padding: 2rem; 
      }
     
    }
    .toggle {
      display: block;
      z-index: 25;
      margin: 2rem;
      .x {
        color: white;
      }
     
    }
    .button-especialista {
      display: none;
      button {
        display: none;
      }
    }
    .nav-container {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: auto;
      background-color: $text-color;
      color: $light-text;
      z-index: 20;
      transition: 0.5s ease-in-out;

      .links-container {
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        margin: 10rem 0;
        transition: 0.5s ease-in-out;

        li {
          color: $light-text;
          padding: 1rem 0;
          display: flex;
          &:hover{
            border: 1px solid transparent;
          }
          .icon-link{
            display: block;
           }
          span{
            align-items: center;
            padding: 5px;
          }
        }
      }
    }
    .nav-visible {
      display: block;
    }
  }
}
