.partners {
    margin: 10rem 0;
    h1{
      @include text-style(2.50rem, 400, 2rem, $secondary-color);
      text-align: center;
    }
  .partners-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    place-items: center;
    width: 100vw;
    background-color: white;
    img {
      filter: brightness(0);
    }
  }
}
@media screen and (min-width: 280px) and (max-width: 1080px){
  .partners {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    h1{
      margin-top: 5rem;

    }
  .partners-content {
    grid-template-columns: repeat(2, 2fr );
    align-self: center;
    zoom: 0.8;
  
  }
}
}