/* Estilos para o container de projetos */
.projects {
  margin:  1.5rem auto;
  width: 85%;
  height: 100vh;

  .container {
    width: auto;
    height: 80vh;
    overflow: hidden;
    display: flex;
  }

  .project-section {
    height: auto;
    display: none;
    width: auto;
    padding-top: 4rem;
  }

  .project-section.active {
    display: block;
  }

  .img-projects {
    width: 40%;
    float: right;
    height: auto;
    padding-right: 4%;
    text-align: center;

    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  .texto-projects {
    float: left;
    width: 60%;
    height: auto;
    padding-top: 1em;
    padding-left: 3em;

    h6 {
      @include text-style(1.55em, 700, 1rem, $orange);
      letter-spacing: 0.5em;
    }

    h1 {
      @include text-style(3.1rem, 600, rem, $text-color);
      padding-top: 0.5em;
    }
    p {
      margin-top: 1rem;
      @include text-style(1.4rem, 400, rem, $text-color);
    }
  }

  .navigation {
    width: 100%;
    background-color: none;
    padding: 2rem 0;
    text-align: center;

    a {
      display: inline-block;
      font-size: 1.3em;
      padding: 0 2rem;
      margin: 0 15px;
      cursor: pointer;
      color: $text-color;
    }

    a.active {
      border-top: 4px solid $primary-color;
      border-radius: 3px;
      padding-top: 1em;
      color: $primary-color;
      font-size: 1.2em;
      transition: 0.3s ease;
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  .projects {
    width: auto;
    height: 80vh;
    .container {
      height: 100%;
      width: auto;
      height: auto;
      margin: 0 0.4rem;
    }
    .project-section {
      padding-top: 0;
    }
    .img-projects {
      float: none;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin: 2rem;
      img {
        width: 75%;
      }
    }
    .texto-projects {
      float: none;
      width: 100%;
      height: auto;
      padding-top: 1em;
      padding-left: 3em;
      h6 {
        @include text-style(1.3rem, 600, 1.5rem, $orange);
      }
      h1 {
        @include text-style(1.5rem, 500, 2.4rem, $text-color);
        margin: 0.7rem 0;
      }
      p{
        @include text-style(1rem, 400, 1.8rem, $text-color);

      }
    }

    .navigation {
      margin-top: 1rem;
      position: relative;
      width: auto;
      padding: 1rem;
      display: flex;

      a {
        padding: 0.4rem;
        margin: 0;
        width: 100%;
        font-size: 0.9rem;
      }

      a.active {
        border-top: 4px solid $primary-color;
        padding-top: 0;
        color: $primary-color;
        font-size: 0.9em;
        transition: 0.3s ease;
      }
    }
  }
}
