.title-colab {
  text-align: center;
  margin: 4rem 0;
  @include text-style(2.5rem, 400, 2rem, $secondary-color);
}

.scroll-container {
  overflow-x: hidden;
  width: auto;
  margin-left: 10%;
  padding-top: 2em;

  .scroll-content {
    position: relative;
    display: grid;
    grid-gap: 100px;
    grid-auto-flow: column;
    transition: transform 0.5s ease-in;
    z-index: 2;
    margin: 2rem;

    .section {
      width: 35vw;
      display: flex;
      padding-right: 15%;
      justify-content: center;
      text-align: justify;
      border-radius: 10px;
      padding: 1rem;
      box-shadow:  1px 1px 8px $secondary-color;
      height: auto;
      .foto img {
        width: 95px;
        margin-right: 0.8em;
        border-radius: 50px;
        height: 100px;
      }

      .description-colabs {
        margin-left: 0.9em;
        width: auto;

        h3 {
          width: auto;
          @include text-style(1.6rem, 600, 2rem, $secondary-color);
        }

        h4 {
          @include text-style(1.2rem, 500, 2rem, $orange);
          margin: 1rem 0;
        }

        p {
          @include text-style(1.1rem, 400, 1.6rem, $text-color);
        }
      }
    }
  }
}

.button-scroll {
  width: auto;
  margin: 1rem 7rem;
  display: flex;

  button {
    height: auto;
    margin: 0.55em;
    padding: 1em;
    border-radius: 50px;
    border: none;
    background-color: #c26522;
    cursor: pointer;
  }
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
    .title-colab{
      text-align: center;
      margin:  0;
      @include text-style(1.8rem, 400, 2rem, $secondary-color);
    }
    .scroll-container{
      overflow-x: scroll;
      margin: 0;
      padding: 0;
        .scroll-content{
            -webkit-overflow-scrolling: touch;
            .section{
                margin: 1rem;
                width:400px;
                height: 350px;
               
               .description-colabs{

                h3{
                    @include text-style(1.4rem, 600, 2rem, $secondary-color);

                }
                h4{
                    @include text-style(1.2rem, 500, 2rem, $orange);
                    margin: 0.5rem 0;
                }
                p{
                    @include text-style(1rem, 400, 1.6rem, $text-color);

                }
               }

            }
        }
    }
    .button-scroll {
      display: block;
      margin: 0;
      padding: 0 1rem;
      button{
        height: 100%;
        text-align: center; 
        margin: 0.2rem;
        padding: 0.6rem;
        
      }
    }
}


