.solutions-Projects{
    width: 100%;
    height: auto;
    margin: 1rem 0;

    .text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-items: center;
        h2{
            width: 80%;
            margin: 0 auto;
            padding-top: 4rem ;
            @include text-style(2rem, 300, 2.75rem, $text-color);
        }
        p{
            @include text-style(1.15rem, 200, 1.45rem, $text-color);
            width: 60%;
            padding-top: 2rem;
        }
    }
    
    .container-card {
        padding-top: 0.3rem ;
        display: flex;
        flex-wrap: wrap;
        flex: 2;
        justify-content: center;
        margin-top: 10%;

        .content-card {
            background: $text-color;
            border: 1px solid $light-text;
            max-width: 250px;
            min-height: 220px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 3%;

            img {
                position: absolute;
                width: 100px;
                margin-bottom: 13em;
                margin-left: 2em;
            }

            h1 {
                color: $light-text;
                text-align: center;
                font-size: 1.4em;
                font-weight: 300;
                margin: 2em 0 1em 0;
            }

            button {
                width: 40%;
                padding: 0.7em 0;
                align-self: center;
                background: none;
                border: 1px solid $orange;
                color: $light-text;
                border-radius: 10px;
            cursor: pointer;

        }
    }
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px){
    .content-card{
        margin-top: 3rem ;
    }
}